<div class="container achievement row" ng-controller="TeamController as ctrl">
  <header>
    <h1>{{ctrl.team.title}}</h1>
    <a ng-href="/#/teams/{{ctrl.team._id}}/enrollments/new" class="hidden-xs  pull-right" ng-show="ctrl.isLoggedIn()"><i class="glyphicon glyphicon-download-alt"></i> Join team</a>
  </header>
  <section class="description row">
    <section class="col-xs-12 criteria col-md-7">
      <h3>Team info</h3>
      <p>{{ctrl.team.capacity}}</p>
    </section>
    <figure class="col-xs-12 col-md-offset-2 col-md-3">
      <img class="pull-right" ng-src="{{ctrl.team.badgeLink}}" width="100px" height="100px"/>
    </figure>
  </section>
  <a ng-href="/#/teams/{{ctrl.team._id}}/enrollments/new" class="hidden-md hidden-lg" ng-show="ctrl.isLoggedIn()"><i class="glyphicon glyphicon-download-alt"></i> Join team</a>
</div>
