<div>
  <header>
    <h1>Credits</h1>
  </header>
  <section class="description">
    <h3>Mission Statement</h3>
    <p>Our mission is to provide sports enthusiasts with the platform to connect to sports teams in order to play at a time and a place that suits them.<br> Our app/website will allow players to take part in their favourite hobby, make exercise more fun and competitive, and furthermore help inspire our users find a new passion for sport.</p>
    <h3>Contributors</h3>
    <p><a href="https://github.com/giamir">Giamir Buoncristiani</a><span class="pull-right"><a href="https://github.com/Htunny">Andrew Htun</a</span></p>
    <p><a href="https://github.com/trbradley">Tom Bradley</a><span class="pull-right"><a href="https://github.com/TY231618">Tony Young</a></span></p>
    <p><a href="https://github.com/tmgree">Tom Green</a></p>
    <h3></h3>
    <p>February 2016, Makers Academy, London <span class="pull-right"><a href="https://github.com/trbradley/pitchup">repo</a></span></p>
</div>
